@use '@angular/material' as mat;

@include mat.core();

$my-website-primary: mat.define-palette(mat.$blue-palette);
$my-website-accent: mat.define-palette(mat.$purple-palette);
$my-website-warn: mat.define-palette(mat.$red-palette);
$my-website-theme: mat.define-dark-theme((
  color: (
    primary: $my-website-primary,
    accent: $my-website-accent,
    warn: $my-website-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.core-theme($my-website-theme);
@include mat.all-component-themes($my-website-theme);

// html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #fff;
  background-color: #000;
}

.center-text {
  text-align: center;
}
